* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #242731;
	display: flex;
	justify-content: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	width: 620px;
	height: 220px;
	border: 1px solid #858585;
	border-radius: 10px;
	margin: 5px;
}

.rowContainer {
	display: flex;
}

.bar {
	fill: #26c6da;
}

#charts {
	width: 1400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
}

.centerContainer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input {
	width: 700px;
}

select {
	background-color: rgb(198, 198, 198);
	border-radius: 5px;
}

.tooltip {
	fill: rgb(41, 41, 41);
	opacity: 0.7;
}

text,
h2,
p,
.axis {
	color: rgb(198, 198, 198);
}

p {
	font-size: 14px;
	margin: 5px;
}

i {
	color: rgb(230, 245, 60);
}

.sliderContainer {
	width: 900px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

button {
	background-color: Transparent;
	border: none;
	cursor: pointer;
}
