body {
	background-color: #242731;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.container {
	width: 1800px;
	height: 450px;
	border: 1px solid #858585;
	border-radius: 10px;
	margin: 5px;
}

.bar {
	fill: #ac33cb;
}

input {
	width: 1550px;
}

text,
h1,
p,
.axis {
	color: rgb(198, 198, 198);
}

i {
	color: rgb(230, 245, 60);
}

.sliderContainer {
	width: 1800px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}
